<h1>friends</h1>

<div class="search-area">
  <h3>Search Friends</h3>
  <%= form_with url: "/search_friend", remote: true, method: :get, local: false do |form|%>
    <div class="input-group mb-3" id="search-box">
        <%= form.text_field :friend,  placeholder:"Friends", autofocus: true, class: "form-control form-control-lg" %>
        <%= form.button raw('<i class="fa fa-search fa-2x"></i>'),  class: "btn btn-success input-group-text" %>
    </div>
  <% end %>
</div>

<% if !@friends.empty? %>
  <%= render 'friends/list' %>
<% end %>